body{
  margin: 0 !important;
}
.main{
    width:100%;
    text-align: center;
    height:90%;
    font-size: xx-large;

}
.bottm{
  width:100%;
  height:10%;
  border-style:groove;
  border-color: black;
  align-items: center;
  
  bottom:0;
}
.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: white;
    }
    .dots-6 {
    width:30px;
    height:27.6px;
    --c:radial-gradient(farthest-side,currentColor 90%,#0000);
    background: 
      var(--c) 50%  0,
      var(--c) 0    100%,
      var(--c) 100% 100%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    position: relative;
    animation: d6 1s infinite;
    }
    
      
    
    @keyframes d6{ 
      50%,100% {background-position: 100% 100%,50% 0,0 100%} 
    }

    media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
        size: 20px;
      }
    }